<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyuna.api.member.mapper.MemberMapper">
	<select id="findMember" parameterType="com.hyuna.api.member.dto.Member" resultType="hmap">
		SELECT
			MEMBER_NO AS no
			,USER_NAME AS name
			,MOBILE_NO AS mobileNo
			,EMAIL AS email
		FROM
			MEMBER
		WHERE
			USER_NAME = #{name}
		
	</select>
	
	<select id="memberAll" resultType="com.hyuna.api.member.dto.Member">
		SELECT
			MEMBER_NO AS no
			,USER_NAME AS name
			,MOBILE_NO AS mobileNo
			,EMAIL AS email
		FROM MEMBER
		
	</select>
</mapper>	
